<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Asteria_Restaurant_Otamasyonu.Properties.Settings.Asteria_s_Asian_RestaurantConnectionString"
            connectionString="Data Source=DESKTOP-TJOUONA\SQLEXPRESS;Initial Catalog=&quot;Asteria's Asian Restaurant&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>